*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #000;
}
.muizz{
    background: #000;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    width: 100%;
    height: 80vh;
    margin-bottom: 30px;
}
.nav{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.navbar ul li{
    display: inline-block;
    justify-content: space-between;
    padding: 10px 25px;
}
.logo{
    padding: 10px 25px;
    color: #0f0;
}
.logo h1 span{
    color:#0ef;
}
.navbar ul li a{
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    border: none;
    border: 2px solid rgba(255,255,255,2);
    border-radius: 20px;
}
.navbar ul li a {
    box-shadow: 0 0 20px #0ef;
}
.navbar ul li a:hover {
    animation: animate 1s linear infinite;
}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}
.jkl h2{
    color: crimson;
}
.plm{
    display: flex;
    justify-content: space-between;
}
.jkl{
    box-shadow: 4px 5px 6px #000;
    border-radius: 20%;
}
.jkl:hover{
    color: goldenrod;
    transform: translateY(-10px);
    background: rgb(255, 243, 69);
    box-shadow: 2px 4px 5px #000;
}